body, html {
    height: 100%;
  }

body {
    background-image: url("../Images/aries_bg1.jpg");
    height: 100%; 
    
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: scroll;
    overflow-y: hidden;
    
}

.main-header {
    float: left;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    z-index: 3;
    font-size: 800%;
    margin-left: 35px;
    margin-top: 20px;
    color: black;
    letter-spacing: 1px;
    text-shadow: 2px 2px black;
   
}
.main-header:hover{
    color:rgb(204, 153, 255);
}

marquee {
  float: right;
  font-size: 0.8cm;
  background-color: rgba(24, 25, 26, .2);
  width: 100%;
  text-shadow: 2px 2px black;
}

a {
    color: rgb(204, 153, 255);
    text-decoration: none;
}

a:hover {
    color: white;
}


.elet{
    margin-top: 20cm;
    font-size: 150%;
    color: white;
    padding: 10px;
    background-color: rgba(24, 25, 26, .8);
    text-align: center;
    letter-spacing: 3px;
    font-family:Arial, Helvetica, sans-serif;
}
button{
    background-color: rgba(24, 25, 26, .0);
    color: white;
    border:none;
    border-radius:20px;
    padding: 10px;;
    font-size:300%;
    cursor:pointer;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin-top: 50px;
    letter-spacing: 1px;
    text-shadow: 2px 2px black;
    
}
button:hover{
    color: black;
    border-color: darkgrey;
    transition-duration: 0.1s
}

.dropdown{
    display: inline-block;
    position: relative;
}
.dropdown-options {
    display: none;
    position: absolute;
    overflow: auto;
    color: white;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 180%;
    text-align: center;
    margin-left: 10px;
    letter-spacing: 1px;
    font-weight: bold;
    text-shadow: 2px 2px black;
  }
.dropdown:hover .dropdown-options {
    display: block;
}


div{
    float: right;
    margin-right: 1.5cm;
}
.personal{
    color: rgb(204, 153, 255);
    background-color:rgba(24, 25, 26, .8); 
    font-size: 120%;
    text-align: center;
}
h2{
    color: white
} 